<!-- Modal -->
<div id="termos-de-colaboracao" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Termos de Colaboração</h4>
      </div>
      <div class="modal-body">
        <h3>Condições Gerais:</h3>
        <ul>
          <li>
            Como colaborador será informado da evolução das atividades, os benefícios e todos os movimentos da ONG, além dos balancetes trimestrais.
          </li>
          <li>
            Você está ciente de que ao marcar a aceitação deste termo automaticamente você adere e concorda em se tornar um Mantenedor da Associação de Transformação Social – Estação Cedro – ONG.
          </li>
          <li>
            Ao confirmar o seu cadastro, você declara e concorda, para todos os fins de direito, que:
            É maior de 18 (dezoito) anos e plenamente capaz;
          </li>
          <li>
            Todas as informações prestadas são verdadeiras e serão atualizadas tão logo sofram qualquer alteração;
          </li>
          <li>
            O compromisso pactuado neste Termo, de doação a título gratuito de valor fixo por meio de pagamentos mensais, é assumido de livre e espontânea vontade, sem qualquer coação ou vício de consentimento.
          </li>
          <li>
            O presente Termo tem por objetivo estabelecer os termos e condições mediante os quais você aceita tornar-se Mantenedor da ONG, aceitando realizar doações sucessivas e mensais de quantias escolhidas dentre as opções disponibilizadas pela ONG, através do método de pagamento escolhido Nesse mesmo termo.
          </li>
          <li>
            Após 01 (hum) ano de doação você poderá, a qualquer momento, cancelar a sua adesão como Mantenedor ou suspender os pagamentos, apenas terá que avisar a ONG 30 dias antes do vencimento da doação, sem que isto caracterize qualquer impedimento para novo cadastro futuro.
          </li>
          <li>
            A ONG se compromete a tomar as medidas a seu alcance para preservar o sigilo dos dados cadastrais informados por você.
          </li>
          <li>
            Quaisquer alterações em seus documentos, endereço, referente a sua conta ou informações acima prestados por você deverá informar a ONG imediatamente para efetuarmos as mudanças.
          </li>
          <li>
            Vigência: Este Termo entra em vigor na data de seu aceite, e vigerá por prazo indeterminado.
          </li>
          <li>
            Comunicações: As comunicações entre as partes serão realizadas por telefone, e-mail ou correspondência, conforme informações fornecidas por você na hora do cadastro.
          </li>
          <li>
            Desde já, você está, como o único competente para resolver qualquer conflito oriundo de ou relacionado a este Termo, com expressa renúncia a qualquer outro, por mais privilegiado que seja.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>