{% extends "site/base.html" %} 
{% load staticfiles %}

{% block content %}

<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(/static/site/images/cover_bg_2.jpg);">
		<div class="desc animate-box">
			<h2>Para<strong> dúvidas</strong> entre em contato.</h2>
			<span><a class="btn btn-primary btn-lg find-contato" href="#">Contato</a></span>
		</div>
	</div>

</div>

<div id="fh5co-contact" class="animate-box">
	<div class="container">
		{% if message %}
		<div class="row">
			<div class="col-md-12 text-center heading-section">
				<h3>Obrigado pelo contato.</h3>
				<p>
					Retornaremos o mais breve possível. Se precisar entrar em contato ligue para <a href="tel:+5524992383471">(24) 99238-3471</a>, envie um email para <a href="mailto:cedroestacao@gmail.com">cedroestacao@gmail.com</a>, ou pelo no site clicando <a href="{% url 'website:contato' %}">aqui</a>.
				</p>
			</div>
		</div>
		{% endif %}
		<form id="form-contato" class="form-contato" autocomplete="off" method="post" enctype="multipart/form-data" role="form">{% csrf_token %}
			<div class="row">
				<div class="col-md-5">
					<h3 class="section-title">Nosso Endereço</h3>
					<ul class="contact-info">
						<li>
							<i class="icon-location-pin"></i>
							<adress>
								End. Rua Adelino Alves Saldanha, 562, Cedro - Areal - RJ
							</adress>
						</li>
						<li>
							<i class="icon-phone2"></i>
							<a href="tel:">(24) xxxx-xxxx</a>
						</li>
						<li>
							<i class="icon-mail"></i>
							<a href="mailto:ong.cedro.areal@gmail.com">ong.cedro.areal@gmail.com</a>
						</li>
						<li>
							<i class="icon-globe2"></i>
							<a href="{% url 'website:home' %}">www.estacaocedro.com.br</a>
						</li>
					</ul>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form.nome }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form.telefone }}
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								{{ form.email }}
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="descricao" class="form-control" id="" cols="30" rows="7" placeholder="Mensagem"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Enviar Mensagem" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- END fh5co-contact -->
<div id="map" class="fh5co-map"></div>
<!-- END map -->

{% endblock %}

{% block javascript %}
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="/static/site/js/google_map.js"></script>
<script type="text/javascript">
$('.form-contato').validate({
	messages: {
        'NOTEMPTY': 'Por favor, preencha este campo.'
    },
    submit: {
        settings: {
			inputContainer : '.form-group',
			errorListClass : 'form-error'
        }
    }
});

$(function(){
	$('.find-contato').click(function(event){
		event.preventDefault()
	    $('html,body').animate({scrollTop: $("#form-contato").offset().top - 200},'slow');
	});
});
</script>
{% endblock %}