{% extends "site/base.html" %} 
{% load staticfiles %}

{% block content %}
	<div id="fh5co-feature-product" class="fh5co-section-gray">
		<div class="container">

			<div class="row">
				<div class="col-md-12 text-center heading-section">
					<h3>Motivação</h3>
					<p>
						A falta de acesso a essas necessidades básicas acaba por prejudicar a transição da infância à adolescência e desta à vida adulta.
						A educação deficiente reduz substancialmente a perspectiva de uma competição com igualdade da entrada no mercado de trabalho.
						A exploração do trabalho infantil, os elevados índices de evasão escolar, o envolvimento de crianças e adolescentes com as drogas lícitas (álcool) e ilícitas e tudo o que advém dessa tragédia brasileira são conceguências diretas da carência de investimentos na educação e na saúde da população infantil e adolescente do estado. 
					</p>
					<p><b>Associação de transformação social (Estação cedro) – ONG</b></p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-6 text-center animate-box">
					<p><img src="/static/site/images/foto_2.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
				</div>
				<div class="col-md-6 text-center animate-box">
					<p><img src="/static/site/images/foto_3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<h2>Sobre nós</h2>
					<p>
						A Estação Cedro é uma Organização Não Governamental (ONG), de utilidade pública, sem filiação partidária e sem fins lucrativos que atende crianças e adolescentes em situação de vulnerabilidade social estimulando o trabalho voluntário.
						<br/>
						O alvo da ONG é, inicialmente, como projeto principal e piloto, o Bairro do Cedro do Município de Areal, Rio de Janeiro. O Cedro tem uma população de 422 habitantes, aproximadamente 134 famílias e por volta de 150 crianças e adolescentes até 16 anos de idade, já se preparando para abrangi comunidades como vila Adelaide com 127 famílias e 96 crianças e adolescentes com até 16 anos de idade e outras comunidades ao redor.
						Em termos de infra-estrutura, o Bairro possui um posto de Saúde e uma Escola, ambos do município. 
					</p>
				</div>
				<div class="col-md-5 text-center animate-box">
					<p>
						<img src="/static/site/images/foto_4.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
					</p>
				</div>
				<div class="col-md-7">
					<p>
						Em termos sociais e econômicos, a população do Bairro Cedro é considerada na classe social de Baixa renda. 
						<br/>
						A desigualdade social, embora seja de fundamental importância, não é mais suficiente para justificar, de forma isolada, as situações de risco  e abandono em que vivem as crianças e os adolescentes carentes do nosso estado. A situação desfavorável e injusta, em geral, facilita a marginalização, a exclusão e a perda dos seus direitos fundamentais. Esse fenômeno decorre fundamentalmente da vulnerabilidade social, da ruptura familiar e da crise de identidade pelos quais passa a nossa sociedade. Tal fenômeno também está relacionado com o enfraquecimento dos vínculos, das interações sociais e, freqüentemente, promove sentimentos de solidão e desesperança.
					</p>
				</div>
				<div class="col-md-12">
					<p>
						As crianças e os adolescentes são as principais vítimas dessa  desigualdade social, que as colocam em condições de vulnerabilidade física, emocional e social. Promove o crescimento da pobreza, a degradação das relações afetivas, a dificuldade de acesso às condições mínimas necessárias para a adequada educação, saúde, alimentação, lazer, cultura e trabalho digno com qualidade.
						As famílias submetidas às carências, em geral, tendem a comprometer a auto-estima em níveis elevados. Frequentemente sente se culpadas pelas adversidades, atribuindo ao seu “despreparo” as dificuldades e os fracassos diários. Como um efeito em cascata, os componentes familiares absorvem e reproduzem esse sentimento em um circulo vicioso. 
						Compreender essa dinâmica se faz necessário e tentar mudar essa situação é o que motiva esse nosso trabalho.
					</p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-6">
					<h2>Objetivo</h2>
					<p>
						A finalidade do projeto é desenvolver ações voltadas para a complementação da educação formal e desenvolver atividades esportivas e de lazer proporcionando às crianças e adolescentes em situação de vulnerabilidade social a oportunidade de um futuro digno através do desenvolvimento social.
						<br/>
						A ONG Estação Cedro vai empreender esforços para, através das atividades educativas, culturais, desportivas e de lazer, gerar as oportunidades de desenvolvimento social estimulando a transformação dessa realidade pela própria comunidade.
					</p>
				</div>
				<div class="col-md-6 text-center animate-box">
					<p><img src="/static/site/images/foto_0.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<h2>Estratégia inicial</h2>
					<p>
						Para atingir os objetivos maiores da Estação Cedro, são propostos os seguintes passos iniciais:
						<ul>
							<li>
								Constituir um espaço físico de convivência. Para tanto, será necessário reformar e modernizar a quadra poliesportiva da comunidade do Cedro. Isto envolve uma reforma geral do galpão e do piso, além de prover o local de infra-estrutura adequada para o desenvolvimento das atividades, tais como: vestiário, banheiros, depósito, escritório e cozinha;
							</li>
							<li>
								Programar um conjunto de atividades diárias esportivas e artísticas para as crianças e adolescentes da comunidade nos períodos da manhã e da tarde alternando com os períodos da educação formal;
							</li>
							<li>
								Estimular o trabalho voluntário lembrando que ser voluntário é: realizar um serviço não remunerado em benefício de um bem comum para a sociedade;
							</li>
							<li>
								Combater o analfabetismo funcional através de aulas complementares à educação formal nas instalações da quadra;
							</li>
							<li>
								Através do esporte e lazer, utilizar o espaço físico para manter a criança e o adolescente em um ambiente livre de drogas;
							</li>
							<li>
								Ministrar palestras com o intuito de esclarecer às famílias sobre os direitos e deveres dos cidadãos e o respeito às diferenças de gênero e raça entre outros preconceitos nocivos à comunidade;
							</li>
							<li>
								Ministrar palestras educativas sobre cuidados básicos em saúde para mães, gestantes e famílias;
							</li>
							<li>
								Montar uma estrutura administrativa envolvendo inicialmente trabalho voluntário e posteriormente envolver profissionais voltados para a gestão e acompanhamento das atividades da Estação Cedro.
							</li>
						</ul>
					</p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-12 text-center animate-box">
					<p><img src="/static/site/images/foto_1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center heading-section">
					<p>
						A Estação Cedro acredita que promovendo melhorias na qualidade de vida, gerando uma visão de futuro melhor, oferecendo o suporte e o apoio à educação e orientação às crianças, poderemos promover uma transformação na vida social dessas crianças carentes e, sobretudo, na perspectiva de futuro da comunidade.
					</p>
				</div>
			</div>
			
		</div>
	</div>
{% endblock %}

{% block javascript %}{% endblock %}