{% extends 'painel/base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="/static/painel/build/css/separate/pages/others.min.css">
<link rel="stylesheet" href="/static/painel/build/css/separate/vendor/bootstrap-select/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/painel/build/css/separate/vendor/select2.min.css">
{% endblock %}
{% block content %}
<form id="form-usuario" class="form-usuario" name="form_usuario"  method="post" enctype="multipart/form-data">
	{% csrf_token %}


	<div class="box-typical box-typical-padding">
		<div class="row">
			<div class="col-lg-2 col-sm-4 text-center">
				<h2 class="m-t-lg"><i class="text-muted font-icon font-icon-question"></i></h2>
				<h5 class="m-b semibold">Criando uma usuário</h5>
				<p>
					Você poderá criar novos usuários ao preencher este formulário.
				</p>
			</div>
			<div class="col-lg-10 col-sm-8">

				<h5 class="m-t-lg with-border">Novo usuário</h5>

				<div class="row">
					<div class="col-lg-12">
						<fieldset class="form-group">
							<label for="{{form.username.id_for_label}}" class="col-sm2 form-label semibold">
								{{ form.username.label_tag }}
							</label>
							<div class="col-sm10">
								<p class="form-control-static">
									{{ form.username }}
								</p>
								<small class="text-muted">{{ form.username.errors }}</small>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<fieldset class="form-group">
							<label for="{{form.password_1.id_for_label}}" class="col-sm2 form-label semibold">
								{{ form.password1.label_tag }}
							</label>
							<div class="col-sm10">
								<p class="form-control-static">
									{{ form.password1 }}
								</p>
								<small class="text-muted">{{ form.password1.errors }}</small>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<fieldset class="form-group">
							<label for="{{form.password_2.id_for_label}}" class="col-sm2 form-label semibold">
								{{ form.password2.label_tag }}
							</label>
							<div class="col-sm10">
								<p class="form-control-static">
									{{ form.password2 }}
								</p>
								<small class="text-muted">{{ form.password2.errors }}</small>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<label for="{{form.is_staff.id_for_label}}" class="col-sm2 form-label semibold">
							Podera criar outros usuários:
						</label>
					</div>
					<div class="col-lg-1">
						<fieldset class="form-group">							
							<div class="col-sm10">
								<p class="form-control-static">
									{{ form.is_staff }}
								</p>
								<small class="text-muted">{{ form.is_staff.errors }}</small>
							</div>
						</fieldset>
					</div>
				</div>

				<h5 class="m-t-lg with-border">Informações pessoais</h5>

				<div class="row">
					<div class="col-lg-12">
						<fieldset class="form-group">
							<label for="{{form.email.id_for_label}}" class="col-sm2 form-label semibold">
								{{ form.email.label_tag }}
							</label>
							<div class="col-sm10">
								<p class="form-control-static">
									{{ form.email }}
								</p>
								<small class="text-muted">{{ form.email.errors }}</small>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<fieldset class="form-group">
							<label for="{{form.first_name.id_for_label}}" class="col-sm2 form-label semibold">
								{{ form.first_name.label_tag }}
							</label>
							<div class="col-sm10">
								<p class="form-control-static">
									{{ form.first_name }}
								</p>
								<small class="text-muted">{{ form.first_name.errors }}</small>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<fieldset class="form-group">
							<label for="{{form.last_name.id_for_label}}" class="col-sm2 form-label semibold">
								{{ form.last_name.label_tag }}
							</label>
							<div class="col-sm10">
								<p class="form-control-static">
									{{ form.last_name }}
								</p>
								<small class="text-muted">{{ form.last_name.errors }}</small>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<button class="btn btn-save" type="submit">Salvar Usuário</button>
							<div class="pull-right">
								<a class="btn btn-secondary-outline" href="{% url 'painel:usuario-listar' %}">Cancelar</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</form>
{% endblock %}
{% block javascript %}
<script src="/static/painel/build/js/lib/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/painel/build/js/lib/select2/select2.full.min.js"></script>
<script src="/static/painel/build/js/lib/html5-form-validation/jquery.validation.min.js"></script>
<script>
	$(function() {
	    $('.form-usuario').validate({
	        submit : {
	            settings : {
	                inputContainer : '.form-group',
	                errorListClass : 'form-tooltip-error'
	            },
	        }
	    });

	});
</script>
{% endblock %}